html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.full-flex {
    display: flex;
    flex: 1;
}

.full-flex > * {
    flex: 1;
}

.scrollable {
    overflow: auto;
}
